    html {
        position: relative;
        min-height: 100%;
    }

    body {
        background-image: url("../images/contemporary_china_2.png");
        margin-top: 90px;
        margin-bottom: 90px;
    }

    .container-fluid {
        padding: 0;
        margin: 0;
        height: 90px;
        background-color: #ffffff;
        border-bottom-style: solid;
        border-bottom-color: #cccccc;
        border-bottom-width: 2px;
        width: 100%;
        position: fixed;
        top: 0px;
        z-index: 5;
    }

    #name {
        height: 88px;
        width: 250px;
        background-color: #4aaaa5;
        font-family: "Georgia", Times, "Times New Roman", serif;
        color: white;
        margin: 0;
        padding: 25px;
        float: left;
    }
    

    .navbar-right {
        padding-top: 35px;
    }

    .navbar-nav>li>a {
        padding: 0;
        color: #777777;
    }

    .nav-bor {
        border-right: solid;
        border-color: #cccccc;
        border-width: 1px;
        margin-right: 25px;
        padding-right: 25px;
    }

    .container {
        margin-bottom: 25px;
    }

    .row {
        padding: 25px 25px 0 25px;
    }

    .aboutme {
        background-color: #ffffff;
        margin-right: 25px;
        margin-bottom: 25px;
        border: solid;
        border-width: 1px;
        border-color: #dddddd;
        padding-bottom: 25px;
    }

    #about {
        color: #4aaaa5;
        font-family: "Georgia", Times, "Times New Roman", serif;
        padding-bottom: 25px;
        border-bottom: solid;
        border-color: #cccccc;
        margin-top: 0;
    }

    #me {
        max-width: 40%;
        float: left;
        padding: 0;
        margin: 0 25px 10px 0;
    }

    p {
        color: #777777;
        font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
        margin-bottom: 25px;
    }

    .col-md-6 {}

    .games {
        position: relative;
    }

    .gamelabel {
        font-family: "Georgia", Times, "Times New Roman", serif;
        font-size: 20px;
        color: white;
        text-align: center;
        background-color: #4aaaa5;
        position: absolute;
        top: 40%;
        width: 100%;
        padding: 20px;
    }

    .connect {
        background-color: #ffffff;
        padding-bottom: 25px;
        border: solid;
        border-width: 1px;
        border-color: #dddddd;
        margin-right: 25px;
        margin-bottom: 25px;
    }

    #con {
        color: #4aaaa5;
        font-family: "Georgia", Times, "Times New Roman", serif;
        padding: 0 0 25px;
        border-bottom: solid;
        border-color: #e6e6e6;
        margin-top: 0;
    }

    .icon {
        max-width: 70px;
    }

    .form-height {
        min-height: 100px;
    }

    .btn {
        color: white;
        background-color: #4aaaa5;
    }

    footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 90px;
        background-color: #666666;
        color: #777777;
        font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
        text-align: center;
        padding-top: 30px;
        border-top-color: #4aaaa5;
        border-top-style: solid;
        border-width: 10px;
    }
    
    /*@media only screen and (max-width: 800px) {*/
        /*#bar {*/
            /*display: none;*/
        /*}*/
        